body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  background: #e3ede7;
}

.wrapper {
  margin: auto;
  max-width: 520px;
}

.buttons {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.button {
  width: 4.5em;
  height: 2.2em;
  margin: 0.5em;
  border: #74a588 solid 3px;
  border-radius: 0.5em;
  background: #5c7a6f;
  color: #f2f2f2;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 0 0 2px 2px rgba(199, 219, 207, 0.7);
}

.button.disabled {
  background: #b3b3b3;
  border-color: #ccc;
}

.options {
  text-align: center;
  margin-bottom: 0.5em;
}

.options .button {
  width: 2.2em;
  border-radius: 50%;
  padding-bottom: 0.2em;
}

.selected {
  background: #f3e019;
  border-color: #f8ec75;
  color: white;
}
