body {
  font-weight: bold;
  background-image: radial-gradient( circle, hsla(120, 4%, 50%, 1), hsla(120, 4%, 40%, 1) );
  /* Original lighter background: */
  /*background-image: radial-gradient( 100% 90%, hsla(145, 15%, 90%, 1), hsla(158, 21%, 72%, 1) );*/
}

.wrapper {
  margin: auto;
  max-width: 520px;
}

.digitalDisplay {
  font-family: 'Roboto Mono', monospace;
  color: #00edb6;
  font-weight: bold;
  font-size: 1.15em;
  text-align: center;
}

/******************************************************************************
  Buttons
******************************************************************************/

.control {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.button {
  width: 4.5rem;
  height: 2.2rem;
  margin: 0.5rem;
  border: #74a588 solid 3px;
  border-radius: 0.6rem;
  background-image: radial-gradient( 110% 110%, hsla(161, 100%, 47%, 1), hsla(158, 25%, 48%, 1) );
  border: 2px solid hsla(141, 20%, 90%, 0.6);
  color: hsla(0, 0%, 98%, 1);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.15em;
  position: relative;
}

/* Create a 2nd border outside the primary border */
.button::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -3.5px;
  left: -3.5px;
  right: -3.5px;
  bottom: -3.5px;
  background: linear-gradient( to bottom, hsla(161, 100%, 65%, 1), hsla(161, 100%, 40%, 1) );
  border-radius: 0.7rem;
  box-shadow: 0 0 3px 3px hsla(120, 4%, 43%, 0.7);
  /* Original lighter box-shadow: */
  /*box-shadow: 0 0 2px 2px rgba(199, 219, 207, 0.7);*/
}

/* Remove annoying default blue outline applied by browser when button is clicked */
.button:focus {
  outline: none;
}

.control .button:not(.disabled):active {
  background-image: radial-gradient( 110% 110%, hsla(161, 100%, 50%, 1), hsla(158, 25%, 42%, 1) );
}

/* Adjust the 2nd border */
.control .button:not(.disabled):active::before {
background: linear-gradient( to bottom, hsla(161, 100%, 55%, 1), hsla(161, 100%, 35%, 1) );
}

.options div {
  display: inline-block;
}

.options {
  text-align: center;
  margin-bottom: 0.5rem;
}

.options .button {
  width: 2.1em;
  border-radius: 50%;
  /*padding-bottom: 0.2rem; // Used for the original unicode-based arrows */
}

/* Adjust the 2nd border */
.options .button::before{
  border-radius: 50%;
}

.options .button:not(.disabled):active {
  background-image: radial-gradient( 110% 110%, hsla(55, 90%, 48%, 1), hsla(55, 90%, 55%, 1) );
  border-color: #f8ec75;
  color: white;
}

/* Adjust the 2nd border */
.options .button:not(.disabled):active::before {
  background: linear-gradient( to bottom, hsla(55, 90%, 75%, 1), hsla(55, 90%, 48%, 1) );
}

.selected {
  background-image: radial-gradient( 110% 110%, hsla(55, 90%, 48%, 1), hsla(55, 90%, 75%, 1) );
  border-color: #f8ec75;
  color: white;
}

/* Adjust the 2nd border */
.selected::before {
  background: linear-gradient( to bottom, hsla(55, 90%, 75%, 1), hsla(55, 90%, 48%, 1) );
}

.disabled {
  background: #b3b3b3;
  border-color: #ccc;
}

/* Adjust the 2nd border */
.disabled::before {
  background: #b3b3b3;
}

/******************************************************************************
  Button-Arrows -- Arrows created via CSS
******************************************************************************/

.arrow {
  display: inline;
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}

.left {
  border-right: 0.6rem solid hsla(0, 0%, 98%, 1);
  margin-top: 0.15rem;
  margin-right: 0.15rem;
}

.left.double {
  border-right-width: 0.4rem;
}

.right {
  border-left: 0.6rem solid hsla(0, 0%, 98%, 1);
  margin-top: 0.15rem;
  margin-left: 0.15rem;
}

.right.double {
  border-left-width: 0.4rem;
}
